.scroll-pane:focused {
    -fx-focused-mark-color: transparent;
    -fx-focus-color: #D3D3D3;
    -fx-faint-focus-color: transparent;
    -fx-faint-focus-color-darker: transparent;
}

#pane {
    -fx-border-color: black; /* Kolor obramowania */
    -fx-border-width: 1px;   /* Grubość obramowania */
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}